#glasses-quiz-widget {
  --p-font: 'Open Sans', sans-serif;
  --s-font: 'Roboto', sans-serif;
  max-width: 712px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
}
