@use 'sass:math';
@use '../mixins' as *;

.OWOption {
  box-sizing: border-box;
  display: grid;
  place-items: center;
  background: #ffffff;
  border: 1px solid rgba(231, 235, 237, 0.80141);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
  border-radius: 14px;
  cursor: pointer;
  padding: 0;
  width: min(274px, 100%);

  &:hover {
    @include scaleOnHover();
  }

  &:active {
    @include scaleOnActive();
    opacity: 0.7 !important;
  }

  &_Wider {
    width: min(300px, 100%);
  }

  &_Widest {
    width: min(316px, 100%);
  }

  &-Column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-FaceImages {
    display: flex;
    align-items: center;
    gap: 10px;
    & > .OWOption-Image:first-child {
      max-width: 30px;
    }
    & > .OWOption-Image:last-child {
      max-width: 38px;
    }
  }

  &-Decorator {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-color: #dedede;
      top: calc(50% - math.div(35px, 2));
      right: -20px;
      width: 1px;
      height: 35px;
    }
    &_27 {
      &::after {
        right: -27px;
      }
    }
    &_15 {
      &::after {
        right: -15px;
      }
    }
  }

  &-Image {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }

  &-Row {
    justify-self: stretch;
    display: flex;
    align-items: center;
    &_SpaceBetween {
      justify-content: space-between;
    }
    @for $i from 0 to 5 {
      $k: $i * 5;
      &_Gap-#{30 + $k} {
        gap: 30px + $k;
      }
    }
  }

  &-Desc {
    font-family: var(--p-font);
    font-weight: 600;
    font-size: 18px;
    line-height: math.div(25, 18) * 100%;
    color: #425a60;

    &_Regular {
      font-weight: 400;
    }

    &_Middle {
      font-size: 17px;
    }

    &_Small {
      font-size: 16px;
    }

    &_Bold {
      font-weight: 700;
      color: #0f0f0f;
    }
  }
}

.OWOptions {
  align-self: stretch;
  display: grid;
  justify-items: center;
  box-sizing: border-box;

  &_Clear {
    justify-items: stretch;
  }

  &_4-cols {
    grid-template-columns: repeat(4, 160px);
    padding: 16px 12px 12px;
  }

  @for $i from 2 to 8 {
    @if ($i % 2 == 0) {
      &_gap-#{10 + $i} {
        gap: (10px + $i);
      }
    }
  }
}

.OWCheckbox {
  position: relative;

  &-Title {
    font-family: var(--p-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #697580;
    user-select: none;
  }

  &-Image {
    max-width: 100%;
    user-select: none;
  }

  &-Itself {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    z-index: -1;

    &:focus ~ .OWCheckbox-Label {
      outline: 2px solid #000;
      @include scaleOnHover;
    }
    &:checked ~ .OWCheckbox-Label {
      outline: 2px solid #2196f3;
    }
    &:checked ~ .OWCheckbox-Assurance {
      opacity: 1;
    }
  }

  &-Assurance {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    background-color: #2196f3;
    border-radius: 50%;
    opacity: 0;
  }
}
