.OWMain {
  background-color: #f7f8f9;
  text-align: center;

  &_Gradient {
    background-image: linear-gradient(
      180deg,
      #e8f0f2 0%,
      rgba(232, 240, 242, 0) 100%
    );
  }

  &-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 572px;
    padding: 24px;
    box-sizing: border-box;
  }

  &-WideElement {
    align-self: stretch;
    overflow-x: auto;
  }

  &-Image {
    max-width: 100%;
    user-select: none;
  }

  &-Title {
    font-family: var(--p-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 129%;
    color: #2196f3;
    margin: 0;
    &_alt {
      color: #0196ff;
    }
  }

  &-Title-2 {
    font-family: var(--p-font);
    font-weight: 300;
    font-size: 20px;
    line-height: 145%;
    color: #0f0f0f;
    margin: 0;
  }

  &-Title-3 {
    font-family: var(--s-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #2196f3;
    margin: 0;
  }

  &-Description {
    font-family: var(--p-font);
    font-weight: 700;
    font-size: 15px;
    line-height: 174%;
    color: #3a4850;
    max-width: 272px;
    margin: 0;
    &_Alt {
      font-family: var(--s-font);
    }
  }

  &-Agreement {
    font-family: var(--s-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5b6971;
    margin: 0;
  }

  &-Tip {
    font-family: var(--p-font);
    font-size: 16px;
    line-height: 188%;
    color: #697580;
    margin: 0;
  }

  &-Button {
    font-family: var(--s-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 116%;
    color: #ffffff;
    background: linear-gradient(270deg, #45c7fa 0%, #2196f3 100%);
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    border: none;
    padding: 13px 26px;
    min-width: 180px;
    user-select: none;

    transition: 0.2s ease;

    &_AltFont {
      font-family: var(--p-font);
    }

    &:disabled {
      background: #dedede;
      box-shadow: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &-AltOption {
    font-family: var(--p-font);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(22px / 16px);
    text-decoration-line: underline;
    color: #3a4850;
    border: none;
    background: transparent;
    margin-top: auto;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      color: #67818f;
    }
  }
}
