.OWHeight {
  &-56 {
    min-height: 56px;
  }
  &-84 {
    min-height: 84px;
  }
  &-89 {
    min-height: 89px;
  }
  &-97 {
    min-height: 97px;
  }
  &-103 {
    min-height: 103px;
  }
  &-117 {
    min-height: 117px;
  }
  &-138 {
    min-height: 138px;
  }
}

.OWWidth {
  &-254 {
    max-width: 254px;
  }
  &-210 {
    max-width: 210px;
  }
  &-243 {
    max-width: 243px;
  }

  &-286 {
    max-width: 286px;
  }

  &-318 {
    max-width: 318px;
  }

  &-330 {
    max-width: 330px;
  }
}
