.OWHeight {
  &-56 {
    min-height: 56px;
  }
  &-84 {
    min-height: 84px;
  }
  &-89 {
    min-height: 89px;
  }
  &-97 {
    min-height: 97px;
  }
  &-103 {
    min-height: 103px;
  }
  &-117 {
    min-height: 117px;
  }
  &-138 {
    min-height: 138px;
  }
}

.OWWidth {
  &-243 {
    max-width: 243px;
  }
}
